
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Welcome!</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
        .margin-left-5 {
            margin-left: 5px !important;
        }
        .margin-right-5 {
            margin-right: 5px !important;
        }
        .margin-left-10 {
            margin-left: 10px !important;
        }
        .margin-right-10 {
            margin-right: 10px !important;
        }
        .transition-height {
            -webkit-transition: height 2s;
            transition: height 2s;
        }
    </style>
</head>
<body>

<div id="root"></div>

<script type="text/javascript" src="/build/bundle.js"></script>
</body>
</html>
